.taipy-designer-widget {
    width: 100% !important;
    height: 100% !important;
}

.taipy-slider {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
}

.taipy-button {
    width: 100% !important;
    height: 100% !important;
}

.taipy-input {
    width: 100% !important;
    height: 100% !important;
    max-width: initial !important;
    margin: 0 !important;
}

.taipy-input > div {
    height: 100% !important;
}
